# http://cement.readthedocs.org/en/latest/examples/bash_auto_completion/#example-bash-rc
# http://askubuntu.com/questions/68175/how-to-create-script-with-auto-complete/345150#345150

_elex_complete()
{
    local cur prev opts

    COMPREPLY=()
    cur=${COMP_WORDS[COMP_CWORD]}
    prev=${COMP_WORDS[COMP_CWORD-1]}
    commands="ballot_measures candidates candidate_reporting_units default delegates elections next_election races reporting_units results"
    opts="--data-file --delegate-sum-file --delegate-super-file --format-json --not-live --test --version"
    
    if [ $COMP_CWORD -eq 1 ]; then
        COMPREPLY=( $(compgen -W "${commands}" -- $cur) )
    elif [[ ${cur} == -* ]]; then
        COMPREPLY=( $(compgen -W "${opts}" -- $cur) )
    fi

    return 0

} &&
complete -F _elex_complete elex